      <header>
        <h1>Search & Filter</h1>
        <p class="header-description">An ajax powered search and filter plugin that fails over to a server-side script when javascript is not available</p>

        <p class="view"><a href="https://github.com/USStateDept/america-ajax-search-filter">View the Project on GitHub <small>USStateDept/america-ajax-search-filter</small></a></p>
        <ul>
          <li><a href="https://github.com/USStateDept/america-ajax-search-filter/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/USStateDept/america-ajax-search-filter/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/USStateDept/america-ajax-search-filter">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <nav class="primary-nav">
        <h2>Contents</h2>
        <ul>
          <li><a href="#installation">Installation</a></li>
          <li><a href="#configuration">Configuration</a></li>
          <li><a href="#usage">Usage</a></li>
        </ul>
      </nav>
