.aasf-btn--submit {
	display: none;
	margin-left: 1em;
}

.aasf-label {

}

.aasf-tax-name {

}

.aasf-tax-term {
	
}

.aasf-terms-parent {
	/*border: 1px solid #eee;*/
}

.aasf-label {
	color: #333;
}

.aasf-tax-label {
	font-weight: 600;
	color: #444;
	margin-bottom: 5px;
}

.aasf-tax-label::before { 
    content: "\25be";
    margin-right: 5px;
}


.sidebar .aasf-tax-terms {
	margin-bottom: 1.2em;
}

.aasf-field  {
	display: inline-block;
	width: 90%
}

.aasf-num {
	display: inline-block;
	width: 10%;
}

.aasf-field input {
	margin-right: .625em;
}

aside {
	border: 1px solid #eee;
}

// .pubs h3 {
//     margin: 0;
//     line-height: 100%;
//     font-size: 17px;
//     font-weight: 400;
// }

// .pubs h3 small {
//     display: block;
//     margin-top: 8px;
//     color: #AEAEAE;
//     line-height: 160%;
// }

// .pubs-search-post .entry-title {
// 	margin-top: 0;
// 	margin-bottom: 5px;
// }



