@import 'loader';

.aasf-btn--submit {
	display: none;
	margin-left: 1em;
}

.aasf-wrapper {
	display: inline-block; 
}

.aasf-label {
	color: #333;
}

.aasf-tax-label {
	font-weight: 600;
	color: #444;
	margin-bottom: 5px;
}

.aasf-tax-label::before { 
	font: normal 20px/1 'dashicons';
    margin-right: 5px; 
    position: relative;
    top: 3px;
}

.aasf-left::before {
	content: '\f139';
}

.aasf-down::before {
	content: '\f140';
}

.sidebar .aasf-tax-terms {
	margin-bottom: 1.2em;
}

.aasf-field  {
	display: inline-block;
	width: 100%
}

.aasf-field input {
	float: left;
	margin-right: .625em;
	margin-top: 3px;
}

.aasf-field label {
	float: left;
	line-height: 1.3;
	vertical-align: middle;
	font-size: .95em;
	width: 70%;
}

.aasf-field .aasf-num {
	float: right;
	width: 30px;
	margin-top: -3px;
	padding-right: .8em;
}

aside {
	border: 1px solid #eee;
}

// classess are in markup but not currently being used
.aasf-terms-parent {}
.aasf-tax-name {}
.aasf-tax-term {}


