.aasf-btn--submit {
	display: none;
	margin-left: 1em;
}

.aasf-label {

}

.aasf-tax-name {

}

.aasf-tax-term {
	
}

.aasf-terms-parent {

}

.aasf-label {
	color: #333;
}

.aasf-tax-label {
	font-weight: 600;
	color: #444;
	margin-bottom: 5px;
}

.aasf-tax-label::before { 
	font: normal 20px/1 'dashicons';
    content: '\f140';
    margin-right: 5px; 
    position: relative;
    top: 3px;
}

.sidebar .aasf-tax-terms {
	margin-bottom: 1.2em;
}

.aasf-field  {
	display: inline-block;
	width: 90%
}

.aasf-num {
	display: inline-block;
	width: 10%;
}

.aasf-field input {
	margin-right: .625em;
}

aside {
	border: 1px solid #eee;
}




